body {
    background-color: rgba(200, 243, 245, 0.877);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin: 15px;
}

.container {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.container a {
    color: rgb(7, 117, 57);
    text-decoration: none;
}

.container input {
    height: 35px;
    max-width: 1000px;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px;
}

.container button {
    border-bottom: 1px solod gray;
    margin: 5px;
    font-size: 1rem;
    height: 35px;
}

#result {
    border-block: 1px solid black;
    background-color: rgba(180, 231, 252, 0.877);
}